.title-desktop span,
.title-mobile span {
    font-weight: 700;
    color: #FF005F;
}

hr {   
    width: 90%;
    border-color: #FFF;
    border-width: 0 0 3px 0;
    margin-bottom: 40px;
    margin-top: 20px;
}

.title-desktop {       
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-mobile {      
    display: flex;
    flex-direction: column;
 }

.title-desktop h1 {
    font-weight: 300;
    font-size: 60px;
    margin: 120px auto 30px;    
}

.title-mobile h1 {
    font-weight: 300;
    font-size: 35px;
    margin: 70px auto 30px;
}

.home-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.home-nav a {
    text-decoration: none;
    color: white;
    border: 3px solid #000;
    padding: 20px 30px;    
    font-size: 30px;
}

.home-nav a:hover {
    border: 3px solid #FF005F;
    color: #FF005F;
}

/* MEDIA QUERIES */
@media (max-width: 620px) {

    .home-nav {
        width: 65%;
        flex-direction: column;
        align-items: flex-start;
    }
    .home-nav a {
        font-size: 25px;
        padding: 10px 12px;
        text-align: left;
    }
}

@media  (max-width: 500px) {    
    .title-desktop h1 { font-size: 30px; }    
}


